<%include partials/header%>


<div class="contact_form">
    <h1>contact form</h1>
     <div class="contact_from_temp">
                    <div class="ui form">
                <form  class="form_contact"  action="send" method="POST">
           
                     <div class= "fields">
                    <div class="field">
                    <input type="text" name="name" placeholder="username"  >
               </div>
                 </div>
                 
                <div class= "fields">
                  <div lass="field">
                <input type="text" name="last" placeholder="data">
               </div>
                </div>
               
                 <div class= "fields">
                 <div lass="field">
                  <input type="submit" />
                  </div>
                   </div>
    
    
</form>
</div>
</div>
</div>
<%include partials/footer%>