<%include partials/header%>
<div class="container">
    <h1>Our products</h1>
       
       <div>
           <ul class="btn_router">
               <li><button><a href="#">Lightning</button></a></li>
               <li><button><a href="#">Home Decor</button></a></li>
               <li><button><a href="#">Kictchen</button></a></li>
               <li><button><a href="#">Halloween</button></a></li>
               <li><button><a href="#">Garden</button></a></li>
               <li><button><a href="#">Seasonal</button></a></li>
               <li><button><a href="#">Home wire</button></a></li>
                 
           </ul>
           </div>
    
    </div>


<%include partials/footer%>